<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center">
          <strong>Awsome TODO App</strong>
        </a>
      </div>
    </div>
  </header>
    <div class="container my-4">
      <p class="fw-bold">TODAY</p>
   <lib-data-picker></lib-data-picker>
    
      <hr class="mb-5"/>
      <router-outlet></router-outlet>
      <div class="row row-cols-1 row-cols-md-3 g-3">
          <div class="col">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkaeEiczLpKrTh1YyfdgoRqTfFlOAyy7cbXg&usqp=CAU" class="card-img-top" width="349" height="180" alt="foto1"/>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfJSfRhNbLdnZaA722mxOgThB3o3a4vecetg&usqp=CAU" class="card-img-top" width="349" height="180"  alt="foto2"/>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-BMIUhWcpzIjyU5oOzw39mm0W0VX-bRIpFA&usqp=CAU" class="card-img-top" width="349" height="180" alt="foto3"/>
            </div>
          </div>
        </div>

